# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.RData
*.Rhistory
*.pper
.Rproj.user/*
test*
figure/setup-1.pdf
hidden/*
.Rproj.user
my.tex
my.aux
Common/content/scrap.txt
Manuscript/reviewer*
Submission/reviews/*

*.log
Manuscript/Backup of reviewer_response.wbk
*.wbk
*.RData
Submission/v2/reviewer_response_v1.pdf
Submission/v2/reviewer_response_v2.pdf
Submission/v1/CoverLetter_smg.pdf
*.docx
Manuscript/Manuscript.tex.bak
Manuscript/latebloomer.pdf
Manuscript/latebloomer.tex
Manuscript/latebloomer.Rnw
Manuscript/latebloomer-concordance.tex
Manuscript/latebloomer.synctex.gz
*.bak
