# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.RData
*.Rhistory
*.pper
.Rproj.user/*
Manuscript/cache/*
test*
figure/setup-1.pdf
hidden/*
.Rproj.user
my.tex
my.aux
Common/content/scrap.txt
Manuscript/reviewer*
Submission/*

*.log
*.wbk
*.RData
*.docx
*.bak
Manuscript/latebloomer*

